*.o
*.obj
*.exe
*.pdb
*.ilk
*.csv
*.log
!train_30000.log
!train_100000.log
!model_minimax_qsearch*.csv
!train_hybrid_student*.log
!train_hybrid_student*.csv
!hybrid_student*.csv
!hybrid_student*.log

gungi.exe
tests/test_rules.exe
gungi
tests/test_rules

build/
out/
.deps/
.vs/
.vscode/
